.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.top-toolbar {
  background-color: var(--df-primary);
  color: white;
}

.content-padding {
  padding: 24px;
}

.spacer {
  flex: 1 1 auto;
}
